h1{
    padding: 10px;
    background-color: green;
    color: white;
}

p{
    color: blue;
    
}
.imagen{
    width: 100%;
    border-radius: 50%;

}

h3{
    color: red;

}

.enlace{
    color: green;
    text-decoration: underline;
}

#video{
    width: 600px;
    height: 400px;
    
}